<html>
<head>
    <title>
        Route
    </title>
    </head>

<body>
<form method="post">
	{% csrf_token %}
<center>
<table border="1" rules="none">

	<tr>
 		<td>Route name</td>
 		<td><input type="text" name="txtroute" placeholder="eg: kottayam to Thiruvanthapuram"  required="required"></td>
	</tr>

	<tr>
		<td>From </td>
		<td> State: 
			<select name="ddlstate1" id="ddlstate1">
				<option>--select--</option>
				{% for i in state %}
				<option value="{{i.sid}}">{{i.s_data.state_name}}</option>
				{% endfor %}
		  </select>	      
               &nbsp; &nbsp;District:
			   <select name="ddldist1" id="ddldist1">
					 <option>--select--</option>
			   </select>
			   &nbsp; &nbsp;place:	      
			  <select name="ddlplace1" id="ddlplace1">
					<option>--select--</option>
			  </select>	      
	
		</td>
   </tr>
   <tr>
	<td>To </td>
	<td> State: 
		<select name="ddlstate2" id="ddlstate2">
			<option>--select--</option>
			{% for i in state %}
			<option value="{{i.sid}}">{{i.s_data.state_name}}</option>
			{% endfor %}
	  </select>	      
		   &nbsp; &nbsp;District:
		   <select name="ddldist2" id="ddldist2">
				 <option>--select--</option>
		   </select>
		   &nbsp; &nbsp;place:	      
		  <select name="ddlplace2" id="ddlplace2">
				<option>--select--</option>
		  </select>	      
	</td>
</tr>
   <tr>
 		<td>Time taken</td>
 		<td><input type="text" name="txttime" placeholder="in minutes"  required="required"></td>
	</tr>

	<tr>
		<td>Distance </td>
		<td><input type="text" name="txtkm" placeholder="in km"  required="required"></td>
   </tr>


<tr>
 	<td colspan="2" align="center">
    		<input type="submit" name="btnsubmit" value="Insert">
    		<input type="reset"  name="btnreset"  value="Cancel">
 		</td>
	</tr>
</table>
<br>
<table border="1">
	<tr>
		<td>
			Sl.no.
		</td>
		<td>
			Route name
		</td>
		<td>
			From
		</td>
		<td>
			To
		</td>
		<td>
			Time
		</td>
		<td>
			km
		</td>
		<td>
			Action
		</td>
	</tr>
	{% for i in route %}
	<tr>
		<td>
		{{forloop.counter}}
		</td>
		<td>
		{{i.rout_data.route_name}}
		</td>
		<td>
			{{i.from.place_name}}
		</td>
		<td>
			{{i.to.place_name}}
		</td>
		<td>
			{{i.rout_data.time_taken}}
		</td>
		<td>
			{{i.rout_data.distance}}
		</td>
		<td>
			<a href="{% url 'webAdmin:del_route' i.rid %}">Delete</a>
		</td>
	</tr>
	{% endfor %}
	</table>
</center>
</form>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#ddlstate1").change(function () {
        var sid = $(this).val();
        var ur = "{% url 'webGuest:AjaxDistrict' %}"
        $.ajax({
            url: ur,
            data: { sid: sid, },
            success: function (data) {
                $("#ddldist1").html(data);
            },
        });
    });
</script>

<script>
    $("#ddldist1").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webGuest:AjaxPlace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#ddlplace1").html(data);
            },
        });
    });
</script>
<script>
    $("#ddlstate2").change(function () {
        var sid = $(this).val();
        var ur = "{% url 'webGuest:AjaxDistrict' %}"
        $.ajax({
            url: ur,
            data: { sid: sid, },
            success: function (data) {
                $("#ddldist2").html(data);
            },
        });
    });
</script>

<script>
    $("#ddldist2").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webGuest:AjaxPlace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#ddlplace2").html(data);
            },
        });
    });
</script>