<html>
    {% load static %}
<head>
    <title>
        Login
    </title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <center>
            <div class="container">
    <div class="logo">
        <img src="logo-image.jpg" alt="Seatify Logo"> <!-- Replace 'logo-image.jpg' with your logo path -->
        <h2>Seatify</h2>
    </div>

    <div class="form-group">
        <input type="email" name="txtsname" placeholder="Enter email" required="required">
    </div>
    <div class="form-group">
        <input type="password" name="txtpwd" placeholder="Password">
    </div>

    <div class="form-group">
        <input type="submit" name="btnsubmit" value="Login" class="btn-submit">
    </div>
</div>
        </center>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webGuest:Login' %}"
    </script>
    {% endif %}
</body>

</html>