<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <center>
        Welcome {{bus.bs_name}} <br>
        <a href="{% url 'webBusService:myprofile' %}">my Profile</a> <br>
        <a href="{% url 'webBusService:schedule' %}">Add schedule</a> <br>
        <a href="{% url 'webuser:bscomplaint' %}">complaint</a> <br>
        <a href="{% url 'webuser:bsfeedback' %}">feedback</a> <br>
    </center>
    
</body>
</html>